@page "/indexed-db-primarykey"

@using Blazor.IndexedDB.Models.JS
@using Blazor.IndexedDB.Models.Query
@using Blazor.IndexedDB.Models.Record
@using Blazor.IndexedDB.Server.Models
@using Blazor.IndexedDB.Models
@inject IndexedDBManager DbManager
@inject IDialogService DialogService
<div>
    <MudStack Row="true">
        <MudPaper Class="pa-2 ma-2">Status: </MudPaper>
        <MudPaper Class="pa-2 ma-2">@Message</MudPaper>
    </MudStack>
    <MudStack Row="true">
        <MudPaper Class="pa-2 ma-2">DB Version: </MudPaper>
        @*     <MudPaper Class="pa-2 ma-2">@DbManager.CurrentVersion</MudPaper> *@

    </MudStack>
    <MudStack Row="true">
        <MudPaper Class="pa-2 ma-2">Stores: </MudPaper>
        @*     <MudPaper Class="pa-2 ma-2">@string.Join(", ", DbManager.Stores.Select(s => s.Name))</MudPaper> *@
    </MudStack>
    <MudStack Row="true" Class="pa-2 ma-2" Justify="Justify.SpaceBetween">
        <MudSelect Class="flex-grow-0" T="IndexedDBDatabase" Value="SelectedDatabase" ValueChanged="SelectedDatabaseChanged" Label="Database" Variant="Variant.Outlined" AnchorOrigin="Origin.BottomCenter">
            @foreach (var db in DbManager.ManagerConfig.Databases)
            {
                <MudSelectItem Value="db">@db.Name</MudSelectItem>
            }
        </MudSelect>
        <MudSelect Class="flex-grow-0" Disabled="SelectedDatabase==null" T="IndexedDBStoreSchema" Value="SelectedStore" ValueChanged="SelectedStoreChanged" Label="Store(Table)" Variant="Variant.Outlined" AnchorOrigin="Origin.BottomCenter">
            @foreach (var store in SelectedDatabase?.Stores ?? [])
            {
                <MudSelectItem Value="store">@store.Name</MudSelectItem>
            }
        </MudSelect>
        <MudButton OnClick="OpenDatabaseAsync" Variant="Variant.Outlined">Open Database</MudButton>
        <MudButton Disabled="SelectedDatabase == null || SelectedStore == null" OnClick="GetRecords" Variant="Variant.Outlined">Get Records</MudButton>
        <MudButton Disabled="SelectedStore == null" OnClick="ClearStore" Variant="Variant.Outlined">Clear Store</MudButton>
        <MudButton Disabled="SelectedDatabase == null || SelectedStore == null" OnClick="GenerateData" Variant="Variant.Outlined">Generate Data</MudButton>
    </MudStack>
    <MudPaper Outlined="true" Class="pa-2 ma-2">
        <MudText Typo="Typo.h6">Search Records</MudText>
        <MudStack Row="true" Justify="Justify.FlexStart">
            <MudStack>

                <MudSelect T="string" Value="SelectedSearchValueType" ValueChanged="SelectedSearchValueTypeChanged" Label="Value Type" Variant="Variant.Outlined" AnchorOrigin="Origin.BottomCenter">
                    @foreach (var searchValue in searchValueAs)
                    {
                        <MudSelectItem Value="searchValue">@searchValue</MudSelectItem>
                    }
                </MudSelect>
                <MudSelect T="string" @bind-Value="SelectedMethod" Label="Method" Variant="Variant.Outlined" AnchorOrigin="Origin.BottomCenter">
                    @foreach (var index in storeMethods)
                    {
                        <MudSelectItem Value="index" />
                    }
                </MudSelect>
                <MudButton Color="Color.Primary" Variant="Variant.Outlined" Disabled="string.IsNullOrEmpty(SelectedMethod)" OnClick="SearchForRecords">Search</MudButton>
            </MudStack>
            <MudStack>
                <MudRadioGroup @bind-Value="SelectedQuery">
                    <MudStack Row="true">
                        <MudStack>
                            <MudText>Simple Query</MudText>
                            <MudPaper Outlined="true" Class="pa-1">
                                <MudRadio Value="@("Simple")" Color="Color.Primary" Dense="true" Placement="Placement.Bottom" Class="ml-0">
                                    <MudStack>
                                        <MudTextField Label="Search String" Variant="Variant.Outlined" @bind-Value="SimpleSearchString" />
                                    </MudStack>
                                </MudRadio>
                            </MudPaper>
                        </MudStack>
                        <MudStack>
                            <MudText>Bound Query</MudText>
                            <MudPaper Outlined="true" Class="pa-1">
                                <MudRadio Value="@("Bound")" Color="Color.Primary" Dense="true" Placement="Placement.Bottom" Class="ml-0">
                                    <MudStack>
                                        <MudTextField Label="Lower" Variant="Variant.Outlined" @bind-Value="BoundLowerString" />
                                        <MudTextField Label="Upper" Variant="Variant.Outlined" @bind-Value="BoundUpperString" />
                                        <MudSwitch Color="Color.Primary" @bind-Value="BoundExcludeLower">Exclude Lower</MudSwitch>
                                        <MudSwitch Color="Color.Primary" @bind-Value="BoundExcludeUpper">Exclude Upper</MudSwitch>
                                    </MudStack>
                                </MudRadio>
                            </MudPaper>
                        </MudStack>
                        <MudStack>
                            <MudText>Lower Bound Query</MudText>
                            <MudPaper Outlined="true" Class="pa-1">
                                <MudRadio Value="@("Lower")" Color="Color.Primary" Dense="true" Placement="Placement.Bottom" Class="ml-0">
                                    <MudStack>
                                        <MudTextField Label="Lower" Variant="Variant.Outlined" @bind-Value="LowerSearchString" />
                                        <MudSwitch Color="Color.Primary" @bind-Value="LowerExcludeLower">Exclude Lower</MudSwitch>
                                    </MudStack>
                                </MudRadio>
                            </MudPaper>
                        </MudStack>
                        <MudStack>
                            <MudText>Upper Bound Query</MudText>
                            <MudPaper Outlined="true" Class="pa-1">
                                <MudRadio Value="@("Upper")" Color="Color.Primary" Dense="true" Placement="Placement.Bottom" Class="ml-0">
                                    <MudStack>
                                        <MudTextField Label="Upper" Variant="Variant.Outlined" @bind-Value="UpperSearchString" />
                                        <MudSwitch Color="Color.Primary" @bind-Value="UpperExcludeUpper">Exclude Upper</MudSwitch>
                                    </MudStack>
                                </MudRadio>
                            </MudPaper>
                        </MudStack>
                        <MudStack>
                            <MudText>Only Query</MudText>
                            <MudPaper Outlined="true" Class="pa-1">
                                <MudRadio Value="@("Only")" Color="Color.Primary" Dense="true" Placement="Placement.Bottom" Class="ml-0">
                                    <MudStack>
                                        <MudTextField Label="Search String" Variant="Variant.Outlined" @bind-Value="OnlyQuerySearchString" />
                                    </MudStack>
                                </MudRadio>
                            </MudPaper>
                        </MudStack>
                    </MudStack>
                </MudRadioGroup>
            </MudStack>

        </MudStack>
    </MudPaper>
    @if (SelectedStore?.Name == "Employees")
    {
        <PeopleTable People="@People" DialogService="@DialogService" DbManager="@DbManager" />
    }

    @if (SelectedStore?.Name == "Vehicles" && Vehicles.Count > 0)
    {
        <MudTable T="Vehicle" Dense="true" Height="500px" Items="@Vehicles" Hover="true" Breakpoint="Breakpoint.Sm" LoadingProgressColor="Color.Info" FixedHeader="true">
            <HeaderContent>
                <MudTh>Id</MudTh>
                <MudTh>Make</MudTh>
                <MudTh>Model</MudTh>
                <MudTh>Type</MudTh>
                <MudTh>Fuel</MudTh>
                <MudTh>Year</MudTh>
                <MudTh>VIN</MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd DataLabel="Nr">@context.Id</MudTd>
                <MudTd DataLabel="Make">@context.Make</MudTd>
                <MudTd DataLabel="Model">@context.Model</MudTd>
                <MudTd DataLabel="Type">@context.Type</MudTd>
                <MudTd DataLabel="Fuel">@context.FuelType</MudTd>
                <MudTd DataLabel="Year">@context.ReleaseYear</MudTd>
                <MudTd DataLabel="VIN">@context.Vin</MudTd>
            </RowTemplate>
        </MudTable>
    }

</div>
@code {
    // [Inject]
    // public required IndexedDBDatabase DbStore { get; set; }
    // @inject DbStore DbStore


    List<string> storeMethods = ["openCursor", "advanceCursor", "closeCursor", "closeAllStoreCursors", "closeAllCursors", "iterateRecords", "getRecord", "getAllRecords", "getAllRecordsByQuery", "getAllKeys", "getKey"];
    List<string> searchValueAs = ["string", "number", "datetime", "datetimeoffset", "arrayofobjects"];
    string SelectedMethod { get; set; } = string.Empty;
    string SelectedQuery { get; set; } = string.Empty;
    string SelectedSearchValueType { get; set; } = "string";
    // int SelectedRowNumber { get; set; } = -1;
    IndexedDBDatabase? SelectedDatabase { get; set; }
    IndexedDBStoreSchema? SelectedStore { get; set; }
    IndexedDBRecord<List<Person>>? People { get; set; }
    List<Vehicle> Vehicles { get; set; } = new();
    Vehicle? CurrentVehicle { get; set; }

    string SimpleSearchString { get; set; } = string.Empty;
    string BoundLowerString { get; set; } = string.Empty;
    string BoundUpperString { get; set; } = string.Empty;
    bool BoundExcludeLower { get; set; }
    bool BoundExcludeUpper { get; set; }
    string LowerSearchString { get; set; } = string.Empty;
    bool LowerExcludeLower { get; set; }
    string UpperSearchString { get; set; } = string.Empty;
    bool UpperExcludeUpper { get; set; }
    string OnlyQuerySearchString { get; set; } = string.Empty;


    void SelectedDatabaseChanged(IndexedDBDatabase selected)
    {
        if (selected != SelectedDatabase)
        {
            SelectedStore = null;

        }
        SelectedDatabase = selected;
    }

    void SelectedStoreChanged(IndexedDBStoreSchema selected)
    {
        SelectedStore = selected;
    }


    void SelectedSearchValueTypeChanged(string selected)
    {
        SelectedSearchValueType = selected;
    }



    async Task GenerateData()
    {
        if (SelectedDatabase == null || SelectedStore == null)
        {
            return;
        }
        if (SelectedStore.Name == "Employees")
        {
            var num = Random.Shared.Next(100, 200);
            for (var i = 0; i < num; i++)
            {
                await DbManager.AddRecord<Person>(new IndexedDBRecord<Person>
                    {
                        DatabaseName = SelectedDatabase.Name,
                        StoreName = SelectedStore.Name,
                        Data = new()
                    }.ToAction());
            }
        }
        else
        {
            var num = Random.Shared.Next(100, 200);
            for (var i = 0; i < num; i++)
            {
                await DbManager.AddRecord<Vehicle>(new IndexedDBRecord<Vehicle>
                    {
                        DatabaseName = SelectedDatabase.Name,
                        StoreName = SelectedStore.Name,
                        Data = new()
                    }.ToAction());
            }
        }
    }


    string Message { get; set; } = string.Empty;
    string NewStoreName { get; set; } = "";
    List<string> Indexes { get; set; } = new();
    bool GetAll { get; set; }

    protected override void OnInitialized()
    {
        DbManager.ActionCompleted += OnIndexedDbNotification;
        // Indexes = DbManager.DBStore.First().Stores[0].Indexes.Select(id => id.Name).ToList();
        // SelectedStore = DbManager.DBStore.First().Stores[0]
        //DbStore.Stores.First().Name;
    }

    protected async Task OpenDatabaseAsync()
    {
        if (SelectedDatabase == null)
        {
            return;
        }
        await DbManager.OpenDb(SelectedDatabase);
        await DbManager.GetDatabaseInfo(SelectedDatabase);
        StateHasChanged();
    }


    protected async void GetRecords()
    {
        if (SelectedDatabase == null || SelectedStore == null)
        {
            return;
        }
        if (SelectedStore.Name == "Employees")
        {
            var results = await DbManager.GetAllRecords<Person>(new(IndexedDBQueryCreator.NoQuery()) { DatabaseName = SelectedDatabase.Name, StoreName = SelectedStore.Name });

            if (results != null && results.Result.Data != null && results.Result.Data.Any())
            {
                People = results.Result;
            }
            else
            {
                People = null;
                Message = "No Records found";
            }
        }
        else
        {
            var results = await DbManager.GetAllRecords<Vehicle>(new(IndexedDBQueryCreator.NoQuery()) { DatabaseName = SelectedDatabase.Name, StoreName = SelectedStore.Name });
            if (results != null && results.Result.Data != null && results.Result.Data.Any())
            {
                Vehicles = results.Result.Data.ToList();
            }
            else
            {
                Vehicles.Clear();
                Message = "No Records found";
            }
        }

        StateHasChanged();
    }

    private void OnIndexedDbNotification(object? sender, IndexedDBActionResult<object> args)
    {
        Message = args.Message;
    }




    protected async Task ClearStore()
    {
        if (SelectedDatabase == null || SelectedStore == null)
        {
            return;
        }
        await DbManager.ClearStore(new() { DatabaseName = SelectedDatabase.Name, StoreName = SelectedStore.Name });
        GetRecords();
    }


    protected async Task SearchForRecords()
    {
        var queryValue = HelperMethods.GetQuery(SelectedQuery, SelectedSearchValueType, SimpleSearchString, BoundLowerString, BoundUpperString, BoundExcludeLower, BoundExcludeUpper, LowerSearchString, LowerExcludeLower, UpperSearchString, UpperExcludeUpper, OnlyQuerySearchString);
        await HelperMethods.SearchForRecords(DbManager, SelectedMethod, SelectedDatabase?.Name, SelectedStore?.Name, "", queryValue);

    }
}
